$backgroundHeader: #070e31;
$backgroundMain: white;
$backgroundFooter: #cccccc;
$fontTColor:#BF5079;
$fontPColor:#172573;
$fontNavColor: azure;
$fontNavHoverColor: #6effff;
$backgroundHeaderContacto:#BF5079;

